*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: $grayish-blue;
  font-family: $primary-font;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

// Responsive images
img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: to-rem(375);
  padding-left: to-rem(15);
  padding-right: to-rem(15);
  position: relative;

  @include breakpoint(small) {
    max-width: to-rem(540);
  }

  @include breakpoint(medium) {
    max-width: to-rem(720);
  }

  @include breakpoint(large) {
    max-width: to-rem(960);
  }

  @include breakpoint(x-large) {
    max-width: to-rem(1140);
  }
}

.title {
  line-height: 1.2;
  margin-bottom: to-rem(15);
  margin-top: to-rem(60);
  text-align: center;
  @include font(32, semi-bold, $dark-blue);

  @include breakpoint(medium) {
    @include font(48, semi-bold, $dark-blue);
  }
}

.text {
  @include font(14, regular);
  text-align: center;
}