.main {
  background: url('../images/bg-header-mobile.png') no-repeat center center;
  background-size: cover;
  padding-bottom: to-rem(120);
  padding-top: to-rem(120);
}

.main__logo {
  margin: 0 auto;
}