.main {
  background: url('../images/bg-header-mobile.png') no-repeat center center;
  background-size: cover;
  @include padding-heigth(120, 60);

  @include breakpoint(large) {
    background-image: url('../images/bg-header-desktop.png');
    background-size: contain;
    background-position: 0 0;
  }

  &__logo {
    margin: 0 auto;
  }
}