// 
// Variables
// 
// 1. Colors
// 2. Fonts
// 3. Media Queries
// 4. Functions, Mixins and Placeholders
// 
// ======================================================================

// 
// 1. Colors
// ----------------------------------------------------------------------
$cyan: #26baa4;
$light-blue: #6173ff;
$dark-blue: #4c545d;
$grayish-blue: #9fabb2;
$white: #fff;

// 
// 2. Fonts
// ----------------------------------------------------------------------
$primary-font: 'Bai Jamjuree', sans-serif;
$weights: (
  regular: 400,
  semi-bold: 600
);

@mixin font($size, $weight, $color: inherit) {
  $weight-value: map-get($weights, $weight);

  color: $color;
  font-size: to-rem($size);
  font-weight: $weight-value;
}

// 
// 3. Media Queries
// ----------------------------------------------------------------------
$breakpoints: (
  small: 576,
  medium: 769,
  large: 992,
  x-large: 1200,
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);
  
  @media screen and (min-width: to-rem($breakpoint-value)) {
    @content;
  }
}

// 
// 4. Functions, Mixins and Placeholders
// ----------------------------------------------------------------------

// Unitis

@function to-rem($size) {
  $value: ($size / 16) + rem;
  @return $value;
}

// Margins

@mixin margin-heigth($top: 0, $bottom: $top) {
  margin-top: to-rem($top);
  margin-bottom: to-rem($bottom);
}

@mixin margin-width($left: 0, $right: $left) {
  margin-left: to-rem($left);
  margin-right: to-rem($right);
}

@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

// Paddings

@mixin padding-heigth($top: 0, $bottom: $top) {
  padding-top: to-rem($top);
  padding-bottom: to-rem($bottom);
}

@mixin padding-width($left: 0, $right: $left) {
  padding-left: to-rem($left);
  padding-right: to-rem($right);
}

// Icons

%icons {
  content: '';
  display: block;
  height: to-rem(40);
  margin-bottom: to-rem(30);
  width: to-rem(50);
  @include margin-center;
}